<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <table class="job-listing"  th:each="job : ${jobs}">
        <tbody>
        <tr>
            <td>ID</td>
            <td {job.id} th:text="${job.id}"></td>
        </tr>

        <tr>
            <td>Name</td>
            <td {job.name} th:text="${job.name}"></td>
        </tr>

        <tr>
            <td>Employer</td>
            <td {job.employer} th:text="${job.employer}"></td>
        </tr>

        <tr>
            <td>Location</td>
            <td {job.location} th:text="${job.location}"></td>
        </tr>

        <tr>
            <td>Position Type</td>
            <td {job.positionType} th:text="${job.positionType}"></td>
        </tr>

        <tr>
            <td>Skill</td>
            <td {job.coreCompetency} th:text="${job.coreCompetency}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>